
.forms{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

input{
    display: block;
    width: 400px;
    padding: 10px;
}

